.hot__locations {
    padding: 50px;
}

.hot__locations h2 {
    color: #333333;
    font-weight: 900;
}

.hot__locations a {
    color: #333333;
}

@media screen and (max-width:768px) {
    .hot__locations {
        padding: 50px 20px 0 20px;
    }
}